.footer-img {
  height: 400px;
  width: 100vw;
  background: url(../img/footer-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-info {
  background-color: var(--background-tertiary-color);
  padding: 32px 24px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  }

  .footer-info img {
  height: 40px;
  margin-bottom: 16px;
  }

.footer-info p {
    color: var(--text-secondary-color);
    font-weight: var(--menu-text-weight);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.footer-info .social {
    margin-top: 24px;
    margin-bottom: 16px;
}

.footer-info .social-icon {
    height: 32px;
    width: 32px;
}

@media screen and (min-width: 768px) {
  .footer-info p {
    font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-info {
    display: flex;
    flex-direction: row;
    padding: 52px 120px;
    justify-content: space-between;
  }

  .footer-info-text {
    text-align: left;
  }
}

}