header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo img {
  display: inline-block;
  width: 68px;
  height: 64px;
}

nav {
    display: none;
}

.navigation-menu {
    margin-top: 16px;
}

.navigation-menu img {
    width: 32px;
    height: 32px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}
