.testimonials .testimonials-container {
  margin: 0 auto;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonials-container .testimonial p {
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 1.5;
}

.testimonials-container .rating {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.testimonials-container .rating img {
  width: 86px;
  height: 86px;
}

.testimonials-container .rating .user-rating {
  margin-left: 24px;
}

.testimonials-container .rating .user-rating h3 {
  font-size: 20px;
  font-weight: var(--title-weight);
}

.testimonials-container .rating .user-rating .star {
  font-size: 32px;
  color: var(--secondary-color);
}

.testimonials-container .rating .profile-pic {
  background: url(../img/profile-pic-1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .testimonials-container {
    width: 673px;
  }
}

@media screen and (min-width: 1200px) {
  .testimonials-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 1200px;
  }
}
